body
{
	    background-color: #2e3842;
}

#content_div {
		height: 100%;
		display: flex;
		flex-direction: row;
		padding: 10px 10px 10px 10px ;
}

#count_div {
		width : 100%;
		display: flex;
		justify-content: center;
}

#h_commands {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 10px 10px 10px ;
}

#h_actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 10px 10px 10px 10px ;
}

#select_switch {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 10px 10px 10px;
		font-size: large;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: green;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

#v_actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
}

#pic_div {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: silver;
}

#pic_p {
		position: absolute;
		left: 45%;
		bottom: 0;
		z-index: 42;
		color: red;
	}

#gallery {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		
		background-color: white;

		padding: 5%;
		overflow: auto;
		border-style: solid;
		border-width: 2px;
		border-color: black;
}

#label_prev_div { 
	padding: 5%;
}

#label_prev {
	width: 100%;
}

.thumb {
	position: relative;
}

.to_delete {
	position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
	body
	{
			background-color: #2e3842;
	}
	
	#content_div {
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: 0px 0px 0px 0px ;
	}
	
	#h_commands {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px 10px 10px 10px ;
	}

	#v_actions {
			display: flex;
			flex-direction: row;
			justify-content: center;
	}

	#h_actions {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
	}

	#pic_div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			background-color: silver;
	}

	#gallery {
			width:100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			
			background-color: white;

			padding: 5%;
			overflow: auto;
			border-style: solid;
			border-width: 2px;
			border-color: black;
	}
	
	#label_prev_div { 
		padding: 5%;
	}
	
	#label_prev {
		width: 100%;
	}
	
	.thumb {
		display: grid;
	}
	
	.to_delete {
		position: absolute;
	}
}
